@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea:wght@700&display=swap');
@import url('https://fonts.cdnfonts.com/css/bluu-next');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

html,
body {
  font-size: medium;
}

h1 {
  color: white;
  font-size: larger;
}

h2 {
  color: white;
}

p {
  font-size: medium;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

.welcometitle {
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Bluu Next', sans-serif;
  font-size: 2em;
}

.heading {
  font-family: Lucida, bold, sans-serif;
  font-size: 4em;
}

.ody {
  font-family: 'Bluu Next', sans-serif;
}

.ishahm {
  /* font-family: 'Pacifico', cursive; */
  font-family: 'Bluu Next', sans-serif;
  font-size: 6em;
}

/* .titleproj {
  font-family: 'Bluu Next', sans-serif;
} */

.homepage {
  /* background-image: url('../public/modernbackground.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
}

.work {
  background-image: url('./backdrop/shape2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* .work {
  background-image: url('../public/work.jpg');
  background-repeat: no-repeat;
  background-size: cover;
} */

@media (max-width: 768px) {
  .maindesc {
    display: none;
  }

  .desc {
    margin-left: 25%;
    margin-bottom: 40%;
  }

  .typewriters {
    display: none;
  }
}

@media (max-width: 1430px) {
  .ishahm {
    font-size: 3em;
  }
}

@media (max-width: 1430px) {
  .ishahm {
    font-size: 3em;
    letter-spacing: 2px;
  }
}

/* Trying award css */
.homepage {
  background-color: #121212;
  /* background-image: url('../public/hobbies.mp4');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  padding-top: 1px;
  padding-bottom: 1px; */
}

.relative {
  position: relative;
}

.h-screen {
  height: 100vh;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: 1fr 1fr;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-white {
  color: white;
}

.flex-col {
  flex-direction: column;
}

.desc h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.desc h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #ff8c00;
  letter-spacing: 0.05em;
}

.typewriters {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: gray;
}

.maindesc strong {
  font-size: 1.2em;
}

.work {
  padding: 4rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.golcontainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}


.work-item {
  position: relative;
  overflow: hidden;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.work-image {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
  overflow: hidden;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.work-image:hover .image-overlay {
  opacity: 1;
}

.work-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mainglasscontainer {
  background-color: rgba(28, 37, 53, 0.322);
  border-radius: 10px;
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
  width: 100%
}

.glass-container {
  background-color: rgba(0, 0, 0, 0.309);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
}

.glass-container2 {
  /* background-color: rgba(255, 130, 7, 255); */
  background-color: rgba(48, 101, 245, 0.438);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
}

.glass-container2v2 {
  background-color: rgba(17, 8, 23, 255);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
}

.glass-container3 {
  background: rgba(255, 255, 255, 0.205);
  backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.glass-container4 {
  background: rgba(255, 255, 255, 0.205);
  backdrop-filter: blur(5px);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.hobby-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.309); */

}

.hobby-img {
  width: 30%;
}

.hobby-description {
  width: 60%;
}

@keyframes scale {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }
}

.hobby-img {
  animation: scale 3s ease-in-out infinite;
}

.glass-container3 {
  transition: all 0.3s ease;
  filter: grayscale(100%);
}

.glass-container3:hover {
  transform: scale(1.1);
  filter: grayscale(0%)
}

.navbar {
  background: linear-gradient(900deg, #191a20b6, #03071b8c);
  z-index: 2;
}

.footercont {
  background: linear-gradient(900deg, #272b3db6, #091b7242);
}

.innerglasscontainer {
  background-color: rgba(229, 225, 225, 0.638);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
}

.bioglasscontainer {
  background-color: rgba(30, 46, 59, 0.638);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  max-height: 400px;
  transition: all 0.3s ease;
}

@media (min-width: 1170) {
  .bioglasscontainer {
    display: none;
  }
}

.bioglasscontainer:hover {
  transform: scale(1.05);
}

.mediaglasscontainer {
  background-color: rgba(30, 46, 59, 0.638);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  max-width: 180px;
  transition: all 0.3s ease;
}

.mediaicons:hover {
  scale: 1.1;
}

.mediaglasscontainer:hover {
  transform: scale(1.1);
}

.typeglasscontainer {
  background-color: rgba(30, 46, 59, 0.638);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 10px;
  max-width: 280px;
  transition: all 0.3s ease;
}

.typeglasscontainer:hover {
  transform: scale(1.1);
}

.introglasscontainer {
  background-color: rgba(24, 23, 32, 0.404);
  backdrop-filter: blur(10px);
  padding: 30px;
  max-width: 700px;
  max-height: 700px;
}

@media (min-width: 760px) {
  .homepagemob {
    display: none;
  }
}

@media (max-width: 760px) {
  .homepage {
    display: none;
  }
}

@media (max-height: 700px) {
  .mainDP {
    width: 200px;
  }
}

.homepagemob {
  position: relative;
  width: 100vw; 
  height: 100vh; 
  overflow: hidden;
}

.homepagemob .background-video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
  object-fit: cover;
  background: url('/public/modernbackground.jpg') center center no-repeat;
  background-size: cover;
}

.homepage .background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 108%;
  z-index: 0;
  object-fit: cover;
}

.footer {
  background-image: url('./backdrop/footercont.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  padding-top: 1px;
  padding-bottom: 1px;
}

@media (min-width: 760px) {
  .workmob {
    display: none;
  }

  .sidebarmob {
    display: none;
  }
}

.sidebarmob {
  z-index: 3;
}

@media (max-width: 760px) {
  .work {
    display: none;
  }
}

.workmob {
  background-image: url('./backdrop/shape2.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 760px) {
  .glass-container {
    background-color: rgba(81, 138, 213, 0.309);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 0%;
  }

  .glass-container2 {
    background-color: rgba(27, 64, 215, 0.309);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 0%;
  }
}

@media (max-width: 760px) {
  .projimage {
    width: 90%;
  }

  .projlogo {
    width: 20%;
    height: 20%;
  }
}

@media (max-width: 376px) {
  .pfbio {
    font-size: smaller;
  }

  .mainDP {
    width: 14rem;
  }
}

.contactcontainer {
  background-color: rgba(8, 28, 47, 0.335);
  backdrop-filter: blur(10px);
  padding: 10px;
  border-radius: 0%;
  width: 35%;
  border-radius: 5%;
}

.contactme {
  background-image: url('./backdrop/footer2.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 760px) {
  .contactcontainer {
    font-size: small;
    width: 80%;
    border-radius: 0%;
  }

  .dropdownmob {
    display: none;
  }
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup {
  background-color: #130b3ee6;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  max-height: 80vh;
  overflow-y: auto;
  color: #fff;
}

.close-button {
  background-color: transparent;
  border: none;
  color: #888;
  font-size: 14px;
  padding: 6px 10px;
  cursor: pointer;
}

.close-button:hover {
  color: #555;
}

.toast-style {
  background-color: rgba(15, 6, 52, 0.356) !important;
  color: rgba(255, 255, 255, 0.726) !important;
  font-weight: bold;
}

.toast-body {
  font-size: 16px;
}

.toast-progress {
  background: #ef707b !important;
}

.prompt-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-image:hover .prompt-box {
  opacity: 1;
}

/* About me */
.about-me-content {
  /* background: url('../styles/backdrop/hobbies.svg'); */
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 100px;
  position: relative;
  overflow: hidden;
}


.hobby-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover; 
}

.hobby-grid {
  border-radius: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.309);

}

.hobby {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 35%;
  /* Adjust this value to set the desired width for each hobby block */
  margin: 2.5%;
}

.hobby h2 {
  width: 100%;
}

.hobby-even .hobby-content-large,
.hobby-odd .hobby-content-large {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.hobby-odd .hobby-content-large {
  flex-direction: row-reverse;
}

@media (max-width: 1000px) {
  .about-page {
    display: none;
  }
}