@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@font-face {
  font-family: 'Poppins', sans-serif;
  src: url('/styles/font/Poppins-Regular.woff');
}


html,
body {
  font-family: Poppins, sans-serif;
  font-size: medium;
}

h1 {
  color: white;
  font-family: Poppins, sans-serif;
  font-size: larger;
}

h2 {
  color: white;
}

p {
  font-family: Poppins, sans-serif;
  font-size: medium;
}

section {
  display: grid;
  place-items: center;
  align-content: center;
  min-height: 100vh;
}

.homepage {
  background-image: url('./backdrop/homepage.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 768px) {
  .maindesc {
    display: none;
  }
  .desc {
    margin-left: 25%;
    margin-bottom: 40%;
  }
  .typewriters {
    display: none;
  }
}